__pycache__/
config/preferences.json
.vscode/
.idea/vcs.xml
.idea/modules.xml
.idea/misc.xml
.idea/inspectionProfiles/profiles_settings.xml
.idea/ChatRTX.iml
model/whisper/multilingual.tiktoken
model/whisper/mel_filters.npz
model/whisper/medium.pt
model/mistral_model/tokenizer/tokenizer_config.json
model/mistral_model/tokenizer/tokenizer.model
model/mistral_model/tokenizer/tokenizer.json
model/mistral_model/tokenizer/config.json
model/mistral_model/model_checkpoints/README.txt
model/mistral_model/model_checkpoints/rank0.safetensors
model/mistral_model/model_checkpoints/license.txt
model/mistral_model/model_checkpoints/config.json
model/mistral_model/engine/rank0.engine
model/mistral_model/engine/config.json
model.cache
trt-llm-rag-windows/
